  <footer id="layout-footer">
            <div>
              <p>
                Lokesh Kumar<br>Chitkara University
                </p>
              </div>

              <div>
                <nav class="footer-nav">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/users/profile">Profile</a>
                        </li>
                    </ul>
                </nav>
            </div>



        </footer> 