#layout-footer{
    color: yellow;
    a{
        color:yellow;
        text-decoration: none;
    }
    background: grey;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;

    .footer-nav{
        ul{
            list-style: none;
        }
    }
}